<nav class="navbar navbar-expand-sm bg-dark text-white">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="btn btn-primary">

        <%= link_to "Home", projects_path, :class => "btn", :class => "text-white" %>

         </div>
      </li>
      <li class="nav-item">

      <div class="btn btn-primary">

      <%= link_to "About me", about_me_path, :class => "btn", :class => "text-white" %>

       </div>

      </li>

      <li class="nav-item">
          <% if user_signed_in? %>
          Welcome, <%= current_user.email %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </li>
    </ul>

  </div>

</nav>


</nav>

<h1>Editing project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Show this project", @project %> |
  <%= link_to "Back to projects", projects_path %>
</div>
